@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --space: 3rem;
  --flow: 2.5rem;
  --border-radius: 2rem;

  --fw-400: 400;
  --fw-600: 600;
  --ff-young-serif: "Young Serif";
  --fw-700: 700;
  --ff-outfit: "Outfit";

  --list-marker-color: hsl(14, 45%, 36%);
  --list-gap: 1rem;

  --container-padding: 4rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 0.9;
}

/* spacing from bold text */
strong {
  margin-right: 4px;
  font-size: 1.03em;
}

p {
  line-height: 1.6;
  color: var(--stone-600);
}

body {
  font-size: 1.6rem;
  background-color: var(--stone-100);
  font-family: var(--ff-outfit);
}

.recipe__title,
.section-title {
  font-family: var(--ff-young-serif);
}

.recipe__title {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--stone-900);
}

.section-title {
  font-size: 2em;
  font-weight: 400;
  color: var(--brown-800);
}

.preparation-time__title {
  font-size: 1.2em;
  color: var(--rose-800);
}

/* Style */
.container {
  background-color: var(--white);
  padding: var(--container-padding);
  width: 100%;
  max-width: 80rem;
  margin: 16.5rem auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

@media (max-width: 50rem) {
  .container {
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  /* New padding in section */
  section {
    padding: 0 2.2rem;
  }
}

.recipe__img {
  width: 100%;
  height: 50%;
  border-radius: var(--border-radius);
  margin-bottom: 4rem;
}

@media (max-width: 50rem) {
  .recipe__img {
    border-radius: 0;
  }
}

section {
  padding-bottom: var(--space);
}

.preparation-time {
  padding: 3.5rem;
  --list-marker-color: hsl(332, 51%, 32%);
  border-radius: var(--border-radius);
}

@media (max-width: 50rem) {
  .preparation-time {
    margin: 0 3rem;
  }
}

.nutrition__container {
  text-align: left;
  width: 100%;
}

.nutrition__split:first-child {
  padding-top: 0 !important;
}

.nutrition__split {
  display: flex;
  padding: 1rem 2rem;
}

.nutrition__split > * {
  flex-basis: 100%;
}

.nutrition__macro {
  font-weight: bold;
  color: var(--brown-800);
}

/* Utility */
.bg-rose {
  background-color: var(--rose-50);
}

.line-bottom {
  border-bottom: 1px solid var(--stone-100);
}

.margin-bottom {
  margin-bottom: var(--space);
}

.flow-content > *:not(:first-child) {
  margin-top: var(--flow);
}

.list-style {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  padding-left: calc(var(--container-padding) - (var(--container-padding) / 2));
}

.list-style li::marker {
  color: var(--list-marker-color);
}

.list-style li {
  padding-left: calc(var(--container-padding) - (var(--container-padding) / 2));
}

.bold-markers li::marker {
  font-weight: bold;
}
